---
import { Icon } from "astro-icon/components";

interface Props {
  iconSource: string;
  title: string;
  description: string;
  imgSrc?: string;
  alt?: string;
  typeOfIcon?: "icon" | "image";
}

const { iconSource, title, description, imgSrc, alt, typeOfIcon } = Astro.props;
---

<div>
  <div class="icon-container">
    {
      typeOfIcon === "icon" ? (
        <Icon name="mdi:account" />
      ) : (
        <img
          class="icon"
          src={imgSrc}
          alt={alt}
          loading="lazy"
          decoding="async"
        />
      )
    }
  </div>

  <h3>{title}</h3>
  <p>{description}</p>
</div>
