---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout
  SEO={{
    title: 'Home Page Test',
    metaDescription: 'Really cool website',
  }}
>
  <h1>Hello, World</h1>
</MainLayout>
