<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li>Contact</li>
    <li>Prices</li>
  </ul>
</nav>

<style>
  nav {
    position: sticky;
    top: 0;
    width: 100%;
    background: #ccc;
    color: black;

    display: flex;
    justify-content: center;

    ul {
      display: flex;
      gap: 2rem;
    }
  }
</style>
